# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

.ucpp
.wrmakefile
.wrproject
.cproject
.project
Makefile
PPC603gnu
.directory
*.*~
*.*.kate*
